*{
    font-family: 'Darker Grotesque', sans-serif;
}

body{
    margin: 0;
}


.cabecalho{
    
    padding:0px;
    background-color:lightskyblue;
    width:100%;
    position:absolute;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: -20;
    margin: 0;
    padding: 0;    
}

.logoheader{
    display:block;
    margin:auto;
    width:70px;
    height:30vh;
}

.nav ul li{
    font-weight: bolder;
    display: inline-block;
    list-style-type: none;    
    padding: 0px ;
    font-size: 2em;    
    position: relative;
}
.quemSomos{
    display:inline-block;
}

.quemSomos::after{
    content: '';
    height:5px;
    width: 65%;
    background-color: black;
    position:absolute;
    left: 40%;
    top: 95%;
    bottom: 0;
}

.nav ul li a{
    text-decoration:none;
    display: block;
    color: black;
    transition:.2s;
    cursor: pointer;
}
.nav ul li a:hover{
    color: aliceblue;
}

.firstSection{
    height: 60vh;
    padding:40px 20px;
    text-align: center;
    background-image: url(./imagens/loboPrincipal.png);
    background-size:100%;
    background-position:0;
    background-repeat: no-repeat;
    margin: 0;
}
.firstSectionTitle{
    text-align: center;
    font-size: 5em;
    color:aliceblue;
    padding:50px;
}
.firstSectionText{
    display:inline-block;
    position: relative;
    color:whitesmoke;
    text-align: center;
    font-size:25px;
    overflow-wrap: break-word;
    line-height: .8em;
    font-size:30px;
}
.firstSectionText::after{
    content: '';
    height:5px;
    width: 15%;
    background-color: white;
    position:absolute;
    left: 42%;
    top: -20%;
    bottom: 0;
}

.secondSection{
    height:35vh;
    background:#32556E;
    padding:20px ;
}
.secondSectionTitle{
    text-align: center;
    font-size:3em;
    color: #F8E473;
}
.secondSectionText{
    display:flex;
    color: aliceblue;
    width:40%;
    line-height: 1.4em;
    margin: auto;
    font-size:20px;
    align-items: center;
    overflow-wrap: break-word;
}

.thirdSection{
    background:#2E2E2E;
    padding:20px
}
.thirdSectionTitle{
    text-align: center;
    font-size: 3em;
    color:#F8E473;
}
.thirdSectionSubTitle{
    color: white;
    font-size:25px;
    font-weight: bolder;
}
.thirdSectionText{
    color:white;
    font-size:25px;
    width:70%;
    margin:0 50% 0 0%;
    padding-top: 0;
}

.card{
    width:15vw;
    padding:0 10px 0 0px; 
    display:inline-block;
}
.TodosCards{
    padding:0 0 70px 20vw ;
}

.logo{
    background:white;
    border:2px solid white;
    border-radius: 50% ;
}

.fourthSectionTitle{
    text-align:center;
    color: #FFCC08;
    font-weight: bolder;
    font-size:50px;
}
.bloco01{
    display:flex;
    align-items: center;
    margin: 0 0 0 25%; 
    padding-bottom: 100px;
}
.bloco02{
    display:flex;
    align-items: center;
    margin: 0 25% 0 0;
    padding: 0 0 0 0;
}

.Imglobo01, .Imglobo02{
    height:35vh;   
    /* border:40px solid black; */
}
.Imglobo01{
    box-shadow: #2C5680 -2em -2em;
}
.Imglobo02{
    box-shadow: #2C5680 2em -2em;
}
.fourthSectionSubTitle{
    font-size:45px;
    margin:20px 0 0 100px;
}
.fourthSectionSubTitle02{
    font-size:45px;
    margin:20px 50px 0 54%;
}

.fourthSectionText{
    font-size:20px;
    width:120%;
    margin:20px 50% 0 100px;
    overflow-wrap: break-word;
}
.fourthSectionText02{
    font-size:20px;
    width:70%;
    margin:20px 80% 0 20%;
    overflow-wrap: break-word;
}

.legenda{

    margin:20px 0 0 100px;
}
.legenda02{
    margin:20px 50px 0 66%;
}

.tudo01{
    margin:100px 300px 0 0;
}

.tudo02{
    margin:0 0 100px 30px;
} 

.container{
    height: 4px;
    background-image: linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128));
}
.imgRodape{
    height:10vh;
    margin-bottom: 83px;
}
footer{
    background-color:#2E2E2E;
    color: white;
    display:flex;
    align-items: center;
}

.pata{
    margin: 50px auto 100px 20vw;
}

.endereco{
    margin: 0 0px 0 0vw;
}
.endereco h4{
    font-size:25px;
    display:block;
    background-color:orange;
    width: 27%;
    padding:4px;
}
.map{
    margin: 0 80px 0 15vw;
}